.Pos .modal-overlay {
    width: 100%;
    height: calc(100svh + 50px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 707;
    display: flex;
    transition: 0.2s;
    justify-content: center;
    background-color: #00000070;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-30px);
}

.Pos .modal-overlay.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.Pos .modal-overlay .modal-container {
    width: 400px;
    height: fit-content;
    max-height: calc(100svh - 30px);
    direction: ltr;
    overflow-y: auto;
    margin: 15px auto 0;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0 2px 10px #00000010;
}

.Pos .modal-overlay .modal-container::-webkit-scrollbar {
    width: 0px;
}

.Pos .modal-overlay .modal-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

@media (max-width: 500px) {
    .Pos .modal-overlay .modal-container {
        width: calc(100% - 40px);
    }
}

.Pos .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.Pos .modal-overlay .modal-container .modal-content {
    padding-bottom: 15px;
    border: none !important;
    outline: none !important;
}

.Pos .modal-overlay .modal-container .modal-content>div {
    padding-inline: 15px;
}

.Pos .modal-content .options {
    gap: 10px;
    display: flex;
    position: sticky;
    align-items: center;
    top: 0;
    left: 0;
    padding: 15px;
    background: #fff;
    justify-content: space-between;
    box-shadow: 0 2px 10px #00000020;
}

@media print {
    .Pos .modal-overlay .modal-container {
        width: 100%;
    }

    .modal-content .options {
        display: none !important;
    }
}

.Pos .modal-content .options button {
    gap: 5px;
    display: flex;
    font-size: 14px;
    align-items: center;
    padding-inline: 10px;
    text-transform: capitalize;
}

.Pos .modal-content .message-qrCode,
.Pos .modal-content .restaurant-address {
    width: 90%;
    margin: auto;
    line-height: 1.3;
    text-align: center;
    padding-bottom: 15px;
}

.Pos .modal-content .message-qrCode>div {
    display: inline;
    text-transform: uppercase;
}

.Pos .modal-content .message-qrCode {
    font-size: 26px;
    font-weight: bold;
}

.Pos .modal-content .restaurant-address {
    font-weight: normal;
    border-bottom: 2px dashed #c9c9c9;
}

.Pos .modal-content .id_date {
    font-weight: 500;
}

.Pos .modal-content .id_date p:last-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px dashed #c9c9c9;
}

.Pos .modal-content .menu table {
    width: 100%;
    border-bottom: 2px dashed #c9c9c9;
}

.Pos .modal-content .menu table thead {
    padding: 0;
    border-bottom: 2px dashed #c9c9c9;
}

.Pos .modal-content .menu table .item:not(:last-child) {
    border-bottom: 1px solid #c9c9c9;
}

.Pos .modal-content .menu table tr * {
    font-size: 14px !important;
    font-weight: normal !important;
}

.Pos .modal-content .menu table span {
    padding: 0 !important;
}

.Pos .modal-content .menu table span:first-of-type {
    font-size: 16px !important;
    font-weight: 500 !important;
}

.Pos .modal-content .menu table tr,
.Pos .modal-content .menu table tr th,
.Pos .modal-content .menu table tr td {
    padding-block: 3px !important;
    vertical-align: top !important;
}

.Pos .modal-content .menu table tr th:last-of-type,
.Pos .modal-content .menu table tr td:last-of-type {
    text-align: end !important;
}

.Pos .modal-content .menu table tr th:first-of-type,
.Pos .modal-content .menu table tr td:first-of-type {
    width: 40px;
}

.Pos .modal-content .menu table tr td:first-of-type {
    width: 40px;
    text-transform: lowercase;
}

.Pos .modal-content .menu table .addons {
    width: 100%;
}

.Pos .modal-content .menu table .addons p {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Pos .modal-content .total {
    margin-left: 40px;
    padding-block: 10px;
}

.Pos .modal-content .total .row .col:last-child {
    text-align: end;
}

.Pos .modal-content .payment {
    padding-block: 5px;
    border-block: 2px dashed #c9c9c9;
}

.Pos .modal-content .messageThank {
    font-size: 14px;
    padding-top: 5px;
    text-align: center;
}

.Pos .modal-content .powered_by {
    font-size: 14px;
    line-height: 1;
    margin-top: 15px;
}

.Pos .modal-content .powered_by label {
    display: block;
    text-align: end;
    font-size: 12px;
    padding-bottom: 3px;
    font-weight: normal;
}

.Pos .modal-content .powered_by>div {
    display: inline;
    text-transform: uppercase;
}